@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
  height: 100%;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100%;
  max-height: 100%;
  margin: 0;
}

button{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 14px;
}

select{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 14px;
}

input{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 14px;
}

.container {  
  display: grid;
  grid-template-columns: 1.65fr 0fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header"
    "Workarea Control";
  height: 100vh;
}
  
.Header { grid-area: Header; }

.Workarea { 
  grid-area: Workarea; 
}

.Control {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.65fr 0.35fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Control2"
      "Info";
    grid-area: Control;
  }
  
  .Control2 { grid-area: Control2; }
  
  .Info { 
    grid-area: Info;
 }
  

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 5px; /* ширина для вертикального скролла */
  height: 5px; /* высота для горизонтального скролла */
  background-color: transparent;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background: #C8C6C7;
  border-radius: 4px;
}
