.maska{
    position:relative;
    height: 70px;
    padding: 0px;
    border: 1px solid #D9DBDE;
    overflow: hidden;
}

.color_img{
    width: 20px;
    height: 70px;
    position:absolute; 
    top: 0px;
    left: 0px;
}

.delete_btn{
    position:absolute; 
    bottom: 0px;
    right: 10px;
}

.check{
    position:absolute; 
    top: 5px;
    right: 30px;
}

.maska_view_check{
    position: absolute;
    /* top: 10px;
    right: 10px; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.checkbox{
    position:absolute;
    width: 1.5em;
    height: 1.5em;
    background-image: url(../img/show.svg);
    background-size: 24px;
    background-repeat: no-repeat;
}

.maska_view_check:checked + .checkbox{
    background-image: url(../img/hide.svg);
}


.content_mask{
    position:relative;
    margin-left: 24px;
}

.select_class{
    background: #F6F8FA;
    border: 1px solid #D9DBDE;
    border-radius: 6px;
    width: 10vw;
}
