{% extends "base.html" %}

{% block Workarea %}
  <link type="text/css" href="{{url_for('.static', filename='css/tasks_tab.css')}}" rel="stylesheet" />
  <link type="text/css" href="{{url_for('.static', filename='css/task.css')}}" rel="stylesheet" />
  <div class="description_title">
      <h2>Description</h2>
      <button onclick="document.location='/projects'">Back to projects</button>
  </div>
  <div class="description">
    <p>{{description}}</p>
  </div>
    
 
  {% import 'tasks_tab/task.html' as taskCreator %}
  <div class="tasks_view">
    <div class="h_in_work">
      <h2>Todo/Mistakes</h2>
    </div>
    <div class="in_work" >
      {% for task in tasks_list %}
        {% if (task.status == '__0__' or task.status == '__1__') %}
          {{taskCreator.createTaskTODO(project_name, task)}}
        {% endif%}
      {% endfor %}
    </div>
    <div class="h_on_inspection">
      <h2>Inspection</h2>
    </div>
    <div class="on_inspection">
      
      {% for task in tasks_list %}
        {% if task.status == '__2__' %}
          {{taskCreator.createTaskTOCHECK(project_name, task)}}
        {% endif%}
      {% endfor %}
    </div>
  </div>
    
  <script type="text/javascript" src="{{url_for('.static', filename='js/tasks_tab.js')}}"></script>
{% endblock %}
