<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="{{url_for('general.static', filename='css/base.css')}}" rel="stylesheet" />
        <script type="text/javascript" src="{{url_for('general.static', filename='js/utils.js')}}"></script>
        
        {% if title %}
            <title>{{title}}</title>
        {% else %}
            <title>Разметка</title>
        {% endif %}
    </head>
    <body>
        <div class="container">
            <div class="Header">
                {% include 'nav_bar.html' %}
            </div>
            <div class="Workarea">
                {% include 'flash_msg.html' %}
                {% block Workarea %}{% endblock %}
            </div>
        </div>
    </body>
</html>