<link type="text/css" href="{{url_for('general.static', filename='css/nav_bar.css')}}" rel="stylesheet" />
<ul class="nav_bar" >
    {% if title == 'Projects' %}
        <li class="nav_item"><a id="active_page" href="/projects">Projects</a></li>
    {% elif title == 'Tasks' %}
        <li class="nav_item"><a id="active_page" href="/tasks">Tasks</a></li>
        <li class="nav_item"><a href="/view/{{project_name}}/0">View</a></li>
        <li class="nav_item centr">{{user.project_name}}</a></li>
    {% elif title == 'View' %}
        <li class="nav_item"><a href="/tasks">Tasks</a></li>
        <li class="nav_item"><a id="active_page" href="/view/{{project_name}}/0">View</a></li>
        <li class="nav_item centr">{{user.project_name}} / {{task_index}}</a></li>
    {% else %}
    <li class="nav_item"><a href="/tasks">Tasks</a></li>
    <li class="nav_item"><a href="/view/{{project_name}}/0">View</a></li>
    <li class="nav_item centr">{{user.project_name}} / {{task_index}}</a></li>
    {% endif %}
    
    <li class="nav_item dropdown">
        <a class="dropbtn">{{user.name}}</a>
        <div class="dropdown-content">
          <a id="logout_id" href="/logout">Log Out</a>
        </div>
    </li>
    <li class="nav_item img_profile">
        <img>
    </li>
</ul>