<div>
    <fieldset class="projects">
      <legend>Name: {{project.name}}</legend>
      
      <div class="img_block">
        {% if ( 9 > project.task.all) %}
          {% for i in range(project.task.all)%}
            <img class="img_icon" src="{{url_for('general.task_icon', project_name=project.name, task_index=i)}}">
          {% endfor %}
        {% else %}
          {% for i in range(9)%}
            <img class="img_icon" src="{{url_for('general.task_icon', project_name=project.name, task_index=i)}}">
          {% endfor %}
        {% endif %}
      </div>

      <div>
        <p>
          Tasks: {{ project.task.done }} / {{ project.task.all }} <br> <br>
          Modified: {{ project.last_update }}
        </p>
      </div>
      
      <div class="button_open_project">
        <button onclick="document.location='/tasks/{{project.name}}'">Open</button>
      </div>
    </fieldset>
</div>