.Workarea {  
    display: grid;
    grid-template-columns:  0.1fr 2.3fr 0.6fr; 
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "tool2 edit control_edit";
    grid-area: Workarea;
}

.tool2 { grid-area: tool2; }

.edit { 
    grid-area: edit;
    overflow: auto;
    display: inline-block;
    position: relative;
    background: #F6F8FA;
    height: 100%;
    width: 100%;
    user-select:none;
    overflow: hidden;
}

.control_edit { 
    grid-area: control_edit;
    display: grid; 
    grid-template-columns:  1fr; 
    grid-template-rows: 0.3fr 1.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "tool_mask"
        "masks_list";
    overflow: auto;
    /* height: 94vh; */
}


.tool_mask{
    grid-area: tool_mask;
}

.masks_list{
    grid-area: masks_list;
    height: 86vh; 
    overflow: auto;
}

#canvas_block{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
}

#svg { /* <= optional, for responsiveness */
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    /* top:0;
    left: 0; */
}

#show_all img, #hide_all img{
    height: 50px;
    width: 50px;
    float:right;
}

.tool_chng_status{
    pointer-events: none;
    position: absolute;
    height: 100px;
    bottom: -50px;
    width: 20vw;
    text-align: center;
}

#btn_chng_status{
    pointer-events:all;
    width: 150px;
    height: 25px;

    color: white;
    background: #6E98FE;
    border: 1px solid #2A4791;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

#status_string{
    position: relative;
    top: 14px;
}

#status_block{
    border-radius: 6px;
}

#mask_class_base{
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 5px;
    background: #F6F8FA;
    border: 1px solid #D9DBDE;
    border-radius: 6px;
    width: 10vw;
}