{% extends "base.html" %}

{% block Workarea %}
    <link type="text/css" href="{{url_for('.static', filename='css/project_tab.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{url_for('.static', filename='css/projects.css')}}" rel="stylesheet" />
    {% if user.role == 'Admin' %}
        <div class="create_project_tools">
            <button id="createNew" onclick="document.location='#createProject'">Create new project</button>
            <button id="createBased">Create project based on</button>
            {% include 'projects_tab/dialog.html' %}
        </div>
    {% endif %}
    {% if user.role == 'Admin' %}
        <div class="project_list_a">
            {% for project in projects_list %}
                {% include 'projects_tab/project.html' %}
            {% endfor %}
        </div>
    {% else %}
        <div class="project_list">
            {% for project in projects_list %}
                {% include 'projects_tab/project.html' %}
            {% endfor %}
        </div>
    {% endif %}

    
    <nav class="context-menu">
        <ul class="context-menu__items">
          <li class="context-menu__item">
            <a class="context-menu__link">PNG</a>
          </li>
          <li class="context-menu__item">
            <a class="context-menu__link">COCO</a>
          </li>
          <li class="context-menu__item">
            <a class="context-menu__link">VOC</a>
          </li>
        </ul>
      </nav>


    <script type="text/javascript" src="{{url_for('.static', filename='js/projects_tab.js')}}"></script>
{% endblock %}