<link type="text/css" href="{{url_for('.static', filename='css/toolbar2.css')}}" rel="stylesheet" />
<ul class="toolbar2" >
    <li class="tool_item mark" id="polygon"><img src="{{url_for('general.static', filename='img/polygon.svg')}}" title="Polygon"></li>
    <li class="tool_item mark" id="rect"><img src="{{url_for('general.static', filename='img/rectangle.svg')}}" title="Rectangle"></li>
    <li class="tool_item mark" id="line"><img src="{{url_for('general.static', filename='img/line.svg')}}" title="Line"></li>
    <li class="tool_item mark" id="circle"><img src="{{url_for('general.static', filename='img/ellipse.svg')}}" title="circle"></li>
    <!-- <li class="tool_item mark" id="point"><img src="{{url_for('general.static', filename='img/point.svg')}}" title="point"></li> -->

    <li class="tool_item void" ></li>


    <!-- <li class="tool_item size">
        <div>
            <a class="size_btn" id="plus"><img src="{{url_for('general.static', filename='img/plus.svg')}}" title="Line"></a>
            <p id="mashtab">100%</p>
            <a class="size_btn" id="minus"><img src="{{url_for('general.static', filename='img/minus.svg')}}" title="Line"></a>
        </div>
    </li> -->
</ul>