.task{
    position:relative;
    height: 111px;
    padding: 0px;
    margin-bottom: 5px;
    border: 0px;
    cursor: move;
    -moz-user-select: none; -khtml-user-select: none; user-select: none;
}

.task div{
    margin-left: 120px;
    margin-top: 10px;
}

.img_task{
    position:absolute; 
    top:8px;
    left:10px;
    width: 95px;
    height: 95px;
}

.task.todo{
    background: rgba(177, 199, 255, 0.43);
}
.btn_edit{
    background: #6E98FE;
    border: 1px solid #2A4791;
    border-radius: 6px;
    position:absolute; 

    width: 90px;
    height: 25px;
    
    top: 20px;
    right: 20px;
}


.task.inspec{
    background: rgba(245, 252, 167, 0.43);
}
.btn_done{
    background: #2DA44E;
    border: 1px solid #2A9147;
    border-radius: 6px;
    position:absolute; 

    width: 90px;
    height: 25px;
    
    top: 20px;
    right: 20px;
    color: #FFFFFF;
}

.change_status_btn_done{
    background:none;
    border: 1px solid #2A4791;
    border-radius: 6px;
    position:absolute; 

    width: 90px;
    height: 25px;

    top: 60px;
    right: 20px;

    color: #2A4791;
}

.change_status_btn_ret{
    background:none;
    border: 1px solid #E44A63;
    border-radius: 6px;
    position:absolute; 

    width: 90px;
    height: 25px;

    top: 60px;
    right: 120px;

    color: #E44A63;
}

.selected {
    opacity: 0.6;
  }